*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/
/app/src/main/java/com/raaziat/sampleapplication/
/app/src/main/java/com/raaziat/sampleapplication/MainActivity.java
/app/src/androidTest/java/com/raaziat/sampleapplication/
/app/src/test/java/com/raaziat/sampleapplication/
/app/build/generated/source/buildConfig/debug/com/raaziat/sampleapplication/
/app/build/generated/source/buildConfig/debug/com/raaziat/sampleapplication/BuildConfig.java
/app/src/main/res/drawable-mdpi/
/app/src/main/res/drawable-xxxhdpi/
/app/src/main/res/drawable-xhdpi/
/app/src/main/res/drawable-xxhdpi/
/app/src/main/res/drawable-v24/
/app/src/main/res/drawable/
/app/src/main/res/drawable-hdpi/
/app/src/main/res/drawable/black_circle.xml
/app/src/main/res/drawable-mdpi/black_rectangle.xml
/app/src/main/res/drawable/ic_launcher_background.xml
/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
/app/src/main/res/drawable-hdpi/layer_6.png
/app/src/main/res/drawable-xhdpi/layer_6.png
/app/src/main/res/drawable-xxxhdpi/layer_6.png
/app/src/main/res/drawable-xxhdpi/layer_6.png
/app/src/main/res/drawable-mdpi/layer_6.png
/app/src/main/res/layout/
/app/src/main/res/mipmap-anydpi-v26/
/app/src/main/res/mipmap-hdpi/
/app/src/main/res/mipmap-xxhdpi/
/app/src/main/res/mipmap-mdpi/
/app/src/main/res/mipmap-xxxhdpi/
/app/src/main/res/mipmap-xhdpi/
/app/src/main/res/values/
/app/src/main/res/values-night/
/build.gradle
/app/build.gradle
/gradle/wrapper/gradle-wrapper.properties
/app/proguard-rules.pro
/gradle.properties
/settings.gradle
/local.properties
